name: Tests

# Execute workflow for each PR and with each merge to the trunk
on:
  workflow_dispatch:
    inputs:
      zkvyper-version:
        type: string
        description: "Prebuilt zkvyper version, (repo: https://github.com/matter-labs/era-compiler-vyper/releases)"
        required: false
        default: ""
      vyper-version:
        type: string
        description: "vyper version, (repo: https://github.com/vyperlang/vyper/releases)"
        required: true
        default: "0.3.10"
      vyper-commit:
        type: string
        description: "vyper commit, (repo: https://github.com/vyperlang/vyper/releases)"
        required: true
        default: "91361694"
  pull_request:
    paths-ignore:
      - 'cli-tests/**'
      - '.gitignore'
      - '**/*.md'
  push:
    branches:
      - main

# Cancel the workflow if any new changes pushed to a feature branch or the trunk
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  unit-tests:
    strategy:
      matrix:
        include:
          - name: "MacOS x86"
            runner: macos-12-large
          - name: "MacOS arm64"
            runner: [self-hosted, macOS, ARM64]
          - name: "Linux x86"
            runner: matterlabs-ci-runner
            image: matterlabs/llvm_runner:ubuntu22-llvm15-latest
            target: "x86_64-unknown-linux-musl"
          - name: "Linux ARM64"
            runner: matterlabs-ci-runner-arm
            image: matterlabs/llvm_runner:ubuntu22-llvm15-latest
            target: "aarch64-unknown-linux-musl"
            rustflags: "-C link-arg=-Wl,-Bstatic -C link-arg=-lc -C link-arg=-L/usr/lib/llvm-15/lib/clang/15.0.7/lib/linux/ -C link-arg=-lclang_rt.builtins-aarch64"
          - name: "Windows"
            runner: windows-2022-github-hosted-16core
    runs-on: ${{ matrix.runner }}
    container:
      image: ${{ matrix.image || '' }} # Special workaround to allow matrix builds with optional container
    name: ${{ matrix.name }}
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Build LLVM
        uses: ./.github/actions/build-llvm
        with:
          target: ${{ matrix.target }}

      - name: Build zkvyper
        uses: ./.github/actions/build
        with:
          target: ${{ matrix.target }}
          rustflags: ${{ matrix.rustflags }}

      - name: Run tests
        # TODO: remove the condition as soon as the Vyper is available on Linux ARM64
        if: matrix.name != 'Linux ARM64'
        uses: ./.github/actions/run-tests
        with:
          target: ${{ matrix.target || '' }}
          zkvyper-version: ${{ github.event.inputs.zkvyper-version }}
          vyper-version: ${{ github.event.inputs.vyper-version }}
          vyper-commit: ${{ github.event.inputs.vyper-commit }}
